.jumbotron{
	background-color: white;
}
.announcement{
	background-image: url(../images/logos/battleoftheartsbg.png);
	background-repeat: no-repeat;
}
.announcement-title{
	font-weight: bold;
	text-align: left;
}
.announcement-title-default h1,.jumbotron h1{
	color: black;
	text-align: left;
}
/*different types of announcements*/
.announcement-title-event h1,.jumbotron h1{
	color: green;
	text-align: left;
}
.announcement-date{
	font-size: 18px;
	font-style: italic;
	color: #8e8e8e;
	text-align: left;
}
.announcement-text-area{
	text-align: left;
}
.btn-announce{
	color: white;
	text-decoration: none;
}
.btn-announce:hover{
	color: white;
	text-decoration: none;
}
.announcement-img img{
	width: 100%;
}
@media screen and (max-width:768px){
	.announcement-title-default h1, .jumbotron h1{
		text-align: center;
	}
	.announcement-img img{
		width: 50%;
	}
	.announcement-img{
		text-align: center;
	}
	.announcement-date{
		text-align: center;
	}
	.announcement-text-area{
		text-align: center;
	}
}