.assets-header{
	background-color: #01e8ff;
}
.title{
	font-family: "Lemonada", cursive;
	color: white;
}
.centered{
	text-align: center;
}
.footer{
	background-color: #7994cc;
}
.link-social a{
	color: white;
}