.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-default{
	border-bottom: 0px;
	margin: 0;
	background-color: transparent;
	color: white;
}
.navbar-default .navbar-nav>li>a{
	color: blue;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
	background-color: #04aede;
	transition: 0.3s;
}
.navbar-shadow{
	border-bottom: 2px solid black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #04aede;
	color: white;
}
.navbar-default .navbar-toggle{
	background-color: #066d8a;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #066d8a;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #066d8a;
	color: white;
}
@media screen and (max-width: 768px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color:white;
	background-color:#0ba6d2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color: #066d8a;
	color: white;
	}
}