section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.testimonial-title{
  text-align: center;
  font-family: "Lemonada", cursive;
  color: white;
}
.testimonial{
  background-color: #677dad;
}

.quote {
    color: black;
    text-align: left;
    margin-bottom: 1px;
}
.quote-right{
    color: black;
    text-align: right;
    margin-top: 1px;
}
#quote{
  font-family: 'Indie Flower', cursive;
}
#quote-name{
  font-family: "Lemonada", cursive;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: white;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}